<?php

$config['env'] = 'development';

$config['db']['host']   = "localhost";
$config['db']['port']   = "3306";
$config['db']['user']   = "aircheck";
$config['db']['pass']   = "test";
$config['db']['dbname'] = "aircheck";

$config['queue']['host'] = "localhost";
$config['queue']['port'] = "5672";
$config['queue']['user'] = "aircheck";
$config['queue']['pass'] = "test";

return $config;